
.vs/VoiceCommander/v16/.suo
.vs/VoiceCommander/v16/Server/sqlite3/db.lock
.vs/VoiceCommander/v16/Server/sqlite3/storage.ide
VoiceCommander/obj/Debug/VoiceCommander.csprojAssemblyReference.cache
VoiceCommander/obj/Debug/VoiceCommander.csprojAssemblyReference.cache
*.cache
